.App {
  background-color: #333;
  width: 100%;
  min-height: 100vh; /* Set a minimum height to fill the viewport */
}


/* App.css */
.video-container {
  display: flex;
  flex-wrap: wrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  gap: 0.2em;
  justify-content: center;
}
